## Desafio Semana 3 - André Luís

## Objetivo

Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. 
Para realizar a verificação inicial, precisamos de alguns valores.
Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

## Detalhes

A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset.
O arquivo para submissão deve estar em formato json, conforme o arquivo exemplo "submission.json".

**OBSERVAÇÃO:**  É recomendado utilizar Python e pandas para esse desafio, mas também é possível utilizar outras ferramentas e linguagens de programação.

Descrição dos dados:
'id': Identificador do cliente
'sobrenome': Sobrenome do cliente
'pontuacao_credito': Pontuação de crédito do cliente (quanto maior, melhor o cliente geralmente)
'estado_residencia': Estado de residência do cliente
'genero': Gênero do cliente
'nivel_estabilidade': Nível de estabilidade do cliente
'saldo_conta': Saldo disponível na conta do cliente
'numero_produtos': Número de produtos que o cliente consome
'possui_cartao_de_credito': Possui um cartão de crédito cadastrado
'membro_ativo': Membro acessa e consome frequentemente

Obs: Os dados são fictícios, mas tentam representar a realidade de uma base de clientes de um produto SaaS.

# --------------------------------------------------- #
## Importando bibliotecas

In [165]:
import pandas as pd
import numpy as np

# ---------------------------------------------------
## Importando Dados

In [160]:
data = pd.read_csv('desafio1.csv')
data.head(10)
#data.describe()

,RowNumber,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,3500.500000,649.787000,38.892714,5.010286,76471.883751,1.526000,0.703286,0.512143
std,2020.870275,97.046279,10.465562,2.887500,62403.383911,0.583047,0.456842,0.499888
min,1.000000,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1750.750000,582.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000
50%,3500.500000,651.000000,37.000000,5.000000,97277.130000,1.000000,1.000000,1.000000
75%,5250.250000,717.000000,44.000000,7.250000,127537.155000,2.000000,1.000000,1.000000
max,7000.000000,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000

#### Sumario dados

In [169]:
nulos = data.isnull().sum()
tamanho = data.shape
colunas = list(data.columns)
alvo = data['pontuacao_credito']

# ---------------------------------------------------
## Análise dos dados

In [67]:
data['estado_residencia'].unique() ### Somente 3 estados
grouped = data.groupby('estado_residencia')['pontuacao_credito'] ### Separar estados
#grouped1 = data['pontuacao_credito'].groupby(data['estado_residencia']) ### Método alternativo

In [161]:
# Calculando grandezas estatísticas
media = grouped.describe()['mean']
mediana = grouped.median()
moda = grouped.apply(moda = grouped.lambda x: x.mode())
desvio = grouped.describe()['std']

In [162]:
# Criando DataFrame e ajeitando nome dos 'indices'
dados = pd.DataFrame([moda, mediana, media, desvio])
indice= ['moda', 'mediana', 'media', 'desvio_padrao']
dados.index = indice
dados = dados[['SC','RS','PR']]
dados

estado_residencia          SC          RS          PR
moda               850.000000  850.000000  850.000000
mediana            653.000000  650.000000  650.000000
media              649.537653  651.105143  648.961294
desvio_padrao       97.233493   95.136598   98.607186

In [163]:
# Transformando para json e salvando
dados.to_json(r'submission.json')