# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [4]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [4]:
def q1():
    black_friday.shape
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [5]:
def q2():
    len(black_friday.loc[(black_friday["Gender"]=="F") & (black_friday["Age"]=="26-35")])
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [6]:
def q3():
    black_friday['User_ID'].nunique()
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [32]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [7]:
def q4():
    3
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [23]:
a = black_friday[['Product_Category_2',"Product_Category_3"]].isna().sum() # Pegar soma de nan
percent = a[1] / (black_friday.shape[0]) # Como onde há nana em 2 há em 3 tbm, peguei valor de 3
percent

0.6944102891306734

In [8]:
def q5():
    percent
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [9]:
def q6():
    black_friday["Product_Category_3"].isna().sum()
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [20]:
black_friday['Product_Category_3'].value_counts()

16.0    32148
15.0    27611
14.0    18121
17.0    16449
5.0     16380
8.0     12384
9.0     11414
12.0     9094
13.0     5385
6.0      4818
18.0     4563
4.0      1840
11.0     1773
10.0     1698
3.0       600
Name: Product_Category_3, dtype: int64

In [10]:
def q7():
    16
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [26]:
from sklearn import preprocessing

x = pd.DataFrame(black_friday['Purchase'])#returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df.head(5)

          0
0  0.344255
1  0.631519
2  0.052027
3  0.036676
4  0.327389

In [28]:
def q8():
    df.mean()
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [29]:
from sklearn.preprocessing import scale

x = pd.DataFrame(black_friday['Purchase'])#returns a numpy array
scaler = scale(x)
test = pd.DataFrame(scaler)
test.describe()

                  0
count  5.375770e+05
mean  -1.618880e-16
std    1.000001e+00
min   -1.836745e+00
25%   -6.962152e-01
50%   -2.553414e-01
75%    5.499158e-01
max    2.936577e+00

In [31]:
test = test.loc[(test[0]>= -1) & (test[0] <= 1)] ### Codigo loc para selecionar os intervalos

In [12]:
def q9():
    test.count()
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [134]:
df = black_friday[["Product_Category_2", "Product_Category_3"]] ## Cria DataFrame
coluna = (df["Product_Category_2"].isnull() & (df['Product_Category_3'].isnull())) ## Verifica quantos da true
print(coluna.value_counts())
print(df["Product_Category_2"].isnull().sum()) # Todos nan de category 2 = cond acima

False    370591
True     166986
dtype: int64
166986

In [13]:
def q10():
    True
    pass